/* text: "#05050a",
              background: "#f1f0fa",
              primary: "#1a1565",
              secondary: "#8a83eb",
              // check this with opacity
              secondary2: "#dddaf7",
              accent: "#5146f0", */
